.topBanner-bg {
  background-image: url("https://i.ibb.co/PTH07WH/slider4-2000x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-size: cover;
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-style {
margin-left: 70%;
}
